
@import 'variables';
@mixin flex{
    display:flex;
}
@mixin card{
    background-color: $colorBlack;
    padding: 20px 20px 20px 20px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px $colorBlack;
    margin-top: 30px;
}
*{
    margin: 0;
    padding: 0;
}
html, body{
    min-height: 100%;
    width: 100%;
    margin: 0px;
    header{
        margin: 0;
    }
    body{
        font-family: 'Righteous', cursive;
        background-color: $bgColor;
        color:white;
        margin-right: 0px;
        
        a{
            text-decoration: none;
            color: $fontColor;
        }

        nav {
            ul{
                padding: 0px 0px 0px 0px;

                li{
                    list-style-type: none;
                }
            }
            h5{
                @include flex;
                justify-content: center;
                margin-top: 30px;
            }
        }
    }
    .color{
        color: red;
    }
    .about{
        @include flex;
        justify-content: center;
        margin-top: 20px;
    }
    .navigation{
        @include flex;
        justify-content: end;
        a{
            font-size: 30px;
        }
        li{
            margin-right: 55px;
            a:hover{
                font-weight: bold;
                transition: color 0.3;
            }
        }
        li:active{
            transform: scale(0.9);
        }
    }
    .footer{
        margin-top: 50px;
    }
    .footer2{
        @extend .footer;
        display: grid;
        justify-items: center;
    }
    .body__titleBig{
        font-size: 50px;
    }
    .foot__index{
        @include flex;
        li{
            margin: 0 15px;
            list-style-type: none;
            a{
                color: $fontColor;
                font-weight: bold;
            }
        }
    }
}
.background{
    background-image: url("./images/background.png");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.header{
    background-color: $bgColor2;
    color: $fontColor;
    padding: 10px 10px;

    &__title{
        color:$fontColor;
        padding: 0;
        a{
            @extend .body__titleBig;
        }  
    }
    &__title:hover::after  {
        content: 'Inicio'; 
        margin-left: 5px;
        font-size: 15px;
    }
}

.card{
    @include card;
    &__container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    &__container{
        display: grid;
        justify-items: center;
        margin-bottom: 0;
    }
    &__title{
        position: relative;
        border-radius: 20px;
        img{
            width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    }
    &__info{
        margin-bottom: 40px;
    }
    &__href{
        background-color: $buttonColor;
        color: #fff;
        width: 200px;
        height: 30px;
        @include flex;
        align-items: center;
        padding:20px;
        border-radius: 10px;
        text-align: center;
        transition: background-color 0.3s;   
    }
    &__href:hover{
        background-color: $buttonHover;
    }
    &__image{
        transition: transform 0.3s;
        border-radius: 10px;
    }
    &__image:hover{
        transform: rotate(5deg);
    }
    
    
}
.card2{
    @include card;
}
.form{
    display: grid;
    grid-auto-rows: auto;
}
form{
    margin: 100px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:20px;
    justify-content: right;
}
@media (max-width:768px){
    .background{
        background-size: auto 150%;
    }
    .navigation{
        justify-content: end;
    }
    html {
        display:table;
        width:100%;
    }

}
@media (max-width:576px){
    .background{
        background-size: auto 150%;
    }
    .navigation{
        justify-content: end;
    }
    
}

@media (max-width:468px){
    .background{
        background-size: auto 150%;
    }
    .navigation{
        margin-top: 30px;
        justify-content: end;
    }
    .card__container{
        grid-template-columns: 1fr;
    }
   
}