@import 'variables';

$button:(
    "color":#22c55e,
    "hover":#045e25,
);

@debug map-get ($button,"color");
@debug map-get ($button,"hover");

@each $button, $color in $button{
    .button-#{$button}{
        color:$color;
    }
}


@mixin flex{
    display:flex;
}
@mixin card{
    background-color: $colorBlack;
    padding: 20px 20px 20px 20px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px $colorBlack;
    margin-top: 30px;
}
*{
    margin: 0;
    padding: 0;
}
html, body{
    min-height: 100%;
    width: 100%;
    margin: 0px;
    header{
        margin: 0;
    }
    body{
        font-family: 'Righteous', cursive;
        background-color: $bgColor;
        color:white;
        margin-right: 0px;
        a{
            text-decoration: none;
            color: $fontColor;
        }

        nav {
            ul{
                padding: 0px 0px 0px 0px;

                li{
                    list-style-type: none;
                }
            }
            h5{
                @include flex;
                justify-content: center;
                margin-top: 30px;
            }
        }
    }
    .about2{
        padding: 30px 60px 30px 60px;
    }
    .color{
        color: red;
    }
    .about{
        @include flex;
        justify-content: center;
        margin-top: 20px;
    }
    .navigation{
        @include flex;
        justify-content: end;
        a{
            font-size: 30px;
        }
        li{
            margin-right: 55px;
            a:hover{
                font-weight: bold;
                transition: color 0.3;
            }
        }
        li:active{
            transform: scale(0.9);
        }
    }
    .footer{
        margin-top: 50px;
    }
    .footer2{
        @extend .footer;
        display: grid;
        justify-items: center;
    }
    .body__titleBig{
        font-size: 50px;
    }
    .foot__index{
        @include flex;
        li{
            margin: 0 15px;
            list-style-type: none;
            a{
                color: $fontColor;
                font-weight: bold;
            }
        }
    }
}

.background{
    background-image: url("./images/background.png");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.header{
    background-color: $bgColor2;
    color: $fontColor;
    padding: 10px 10px;

    &__title{
        color:$fontColor;
        padding: 0;
        a{
            @extend .body__titleBig;
        }  
    }
    &__title:hover::after  {
        content: 'Inicio'; 
        margin-left: 5px;
        font-size: 15px;
    }
}

.card{
    @include card;
    &__container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    &__container{
        display: grid;
        justify-items: center;
        margin-bottom: 0;
    }
    &__title{
        position: relative;
        border-radius: 20px;
        img{
            width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    }
    &__info{
        margin-bottom: 40px;
    }
    &__href{
        background-color: $buttonColor;
        color: #fff;
        width: 200px;
        height: 30px;
        @include flex;
        align-items: center;
        padding:20px;
        border-radius: 10px;
        text-align: center;
        transition: background-color 0.3s;   
    }
    &__href:hover{
        background-color: $buttonHover;
    }
    &__image{
        transition: transform 0.3s;
        border-radius: 10px;
    }
    &__image:hover{
        transform: rotate(5deg);
    }
    
    
}
//extras
.card3{
    height: 450px;
}

.form{
    display: grid;
    grid-auto-rows: auto;
}

//forms

form{
    margin: 100px 180px 0px 180px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:20px;
    justify-content: right;
}
//media queries
@media (max-width:1440px){
    p {
        font-size: 22px;
    }
}
@media (max-width:1024px){
    form{
        margin: 100px 80px 0px 80px;
    }
    .card__container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}
@media (max-width:768px){
    .background{
        background-size: auto 150%;
    }
    .navigation{
        justify-content: end;
    }
    html {
        display:table;
        width:100%;
    }

}
@media (max-width:670px) {
    body{
        min-height: 100%;
        width: 100%;
        margin: 0px;
    }
    form{
        margin: 100px 10px 0px 10px;
    }
    .card__container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
@media (max-width:576px){
    
    .background{
        background-size: auto 150%;
    }
    .navigation{
        justify-content: end;
        padding-right: 80px;
    }
    .about{
        padding-right: 150px ;
    }   
}

@media (max-width:468px){
    body{
        overflow-x: hidden;
    }
    .footer{
        padding-right: 150px;
    }
    .header__title{
        font-size: 30px;
    }
    .about{
        font-size: 18px;
        padding-right: 120px;
    }
    .body__titleBig{
        padding-left: 100px;
    }
    .navigation{
        margin:0px 60px 0px 0px;
    }
    h1{
        font-size: 10px;
        margin: 0px 0px 0px -50px;
    }
    .image2{
        display: none;
    }
    .background{
        background-size: auto 150%;
    }
    .navigation{
        margin-top: 30px;
        justify-content: end;
    }
    .card__container{
        grid-template-columns: 1fr;
    }
   
}
@media (max-width:360px){
    .header__title{
        font-size: 30px;
    }
    body{
        overflow-x: hidden;
    }
    form{
        margin: 0px 2px 0px 2px;
        transform: scale(0.80);
    }
    .card{
        transform: scale(0.90);
    }
    .image2,.image3{
        display: none;
    }
    
}
@media (max-width:320px){
    form{
        line-break: anywhere;
    }
    .about{
        font-size: 15px;
    }
    .card{
        p {
            display: none;
        }
    }
    .body__titleBig, .footer2{
        font-size: 15px;
        margin: 0px 0px 0px -70px;
    }
    .consulta,#consulta{
        display: none;
    }
    #check{
        transform:scale(0.70) ;
    }
}
