/* General */
*{
    margin: 0;
    padding: 0;
}
html, body{
    min-height: 100%;
    width: 100%;
    margin: 0px;
}
header{
    margin: 0;
}
body{
    font-family: 'Righteous', cursive;
    background-color: rgb(225,225,225);
    color:white;
    margin-right: 0px;
}
a{
    text-decoration: none;
    color:#e2e8f0
}
li{
    list-style-type: none;
}
ul{
    padding: 0px 0px 0px 0px;
}
nav h5{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
/* cabecera */
.header{
    background-color: #0f172a;
    color: #e2e8f0;
    padding: 10px 10px;
}
.header__title{
    color:#e2e8f0;
    padding: 0;
}
.header__title:hover::after  {
    content: 'Inicio'; 
    margin-left: 5px;
    font-size: 15px;
}
.header__title a{
    font-size: 50px;
    /* display: flex;
    align-items: center; */
}

.background{
    background-image: url("./images/background.png");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
/* indice de navegación */

.navigation{
    display: flex;
    justify-content: end;
}
.navigation a{
    font-size: 30px;
}
.navigation li{
    margin-right: 55px;
}
.navigation li:active{
    transform: scale(0.9);
}
.navigation li a:hover{
    font-weight: bold;
    transition: color 0.3;
}

.background{
    background-image: url("./images/background.png");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

/* tarjetas */
.card__container{
    display: grid;
    justify-items: center;
    margin-bottom: 0;
}
.card__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.card{
    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px 20px 20px 20px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.5);
    margin-top: 30px;
    
}

.card2{
    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px 20px 20px 20px;
    width: 800px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.5);
    margin-top: 30px;
    
}
.card__title{
    position: relative;
    border-radius: 20px;
}

.card__title img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card__info{
    margin-bottom: 40px;
}

.card__href{
    background-color: #22c55e;
    color: #fff;
    width: 200px;
    height: 30px;
    display:flex;
    align-items: center;
    padding:20px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s;
    
}
.card__href:hover{
    background-color: #045e25;
}

.card__image{
    transition: transform 0.3s;
    border-radius: 10px;
}
.card__image:hover{
    transform: rotate(5deg);
}



/* indice pie de pagina */
.foot__index{
    display: flex;
}

.foot__index li{
    margin: 0 15px;
}

.foot__index li a{
    color: #e2e8f0;
    font-weight: bold;
}

/* Ejemplos de producto */
.extitle{
    display: block;
}

/* Adiciones  */
.color{
    color: red;
}
.about{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer{
    margin-top: 50px;
}
.footer2{
    margin-top: 50px;
    display: grid;
    justify-items: center;
}
.body__titleBig{
    font-size: 50px;
}

/* grids en el cuestionario */

.form{
    display: grid;
    grid-auto-rows: auto;
}
form{
    margin: 100px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:20px;
    justify-content: right;
}


/* media queries */

@media (max-width:768px){
    .background{
        background-size: auto 150%;
    }
    .navigation{
        justify-content: end;
    }
    html {
        display:table;
        width:100%;
    }

}
@media (max-width:576px){
    .background{
        background-size: auto 150%;
    }
    .navigation{
        justify-content: end;
    }
    
}

@media (max-width:468px){
    .background{
        background-size: auto 150%;
    }
    .navigation{
        margin-top: 30px;
        justify-content: end;
    }
    .card__container{
        grid-template-columns: 1fr;
    }
   
}



